li {
    color: blueviolet;
}

body {
    margin: 20px;
}

.section-card {
    background-color: #ffcccc75;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 2px solid gray;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.section-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0, 2);
}